@{
    ViewData["Title"] = "Home Page";
}

<style>
    a.user {color:black;}
</style>

<div id="loginContainer">
    <input id="userName" placeholder="userName" />
    <button id="loginButton" class="btn btn-primary">Log in</button>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Compose</h2>
        <div id="user">User: </div>
        <textarea id="message" placeholder="Message" rows="4"></textarea>
        <br />
        <button class="btn btn-primary" id="postButton" disabled="disabled">Post</button>
    </div>
    <div class="col-md-3">
        <h2>Timeline</h2>
        <button id="refreshTimeline">Refresh</button>
        <ul id="timeline"></ul>
    </div>
    <div class="col-md-3">
        <h2>Notifications</h2>
        <ul id="notifications"></ul>
    </div>
    <div class="col-md-3">
        <h2>Firehose</h2>
        <button id="refreshAll">Refresh</button>
        <ul id="firehose"></ul>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/js/twitter.js"></script>
}
